
.mainEvent__content#events 

    .mainEvent__content-info 
        h2.mainEvent__content-title events
        p.mainEvent__content-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
        a.readMore-btn(href="#") READ MORE

    
    .mainMenu__content-imgBox
        img.mainEvent__content-img(src="./images/main-events.webp", alt="")

    