.header {


    &__content {
        display: flex;
        position: relative;
        width: 100%;
        // height: 850px;
        overflow: hidden;
        background: url('../images/main__img.webp') no-repeat center center / cover;
        height: 100vh;


        &-reserveBtn {
            position: absolute;
            display: flex;
            justify-content: center;
            font-family: $playfairDisplay;
            max-width: 300px;
            width: 100%;
            padding: 15px 0;
            text-transform: uppercase;
            color: $wwhiteCol;
            font-size: 18px;
            line-height: 21px;
            top: 50px;
            border: 1px solid #FFFFFF;
            // z-index: 0;
            right: 50px;
        }


        &-hamburger {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 120px;
            cursor: pointer;
            transition: all .5s ease-in-out;
            top: 50px;
            left: 50px;
            // z-index: 1;
        }

        // &-hamburger.open &-lines {
        //     background: transparent;
        // }

        // &-hamburger.open &-lines::before {
        //     transform: rotateZ(45deg) translateY(0px);
        // }

        // &-hamburger.open &-lines::after {
        //     transform: rotateZ(-45deg) translateY(0px);
        // }

        // &-hamburger.open {
        //     transform: translateX(240px);
        //     transition: .5s;
        // }

        &-lines {
            width: 80px;
            height: 3px;
            background: $wwhiteCol;
            transition: all .5s ease-in-out;
        }

        &-lines::before,
        &-lines::after {
            content: '';
            position: absolute;
            width: 80px;
            height: 3px;
            background: $wwhiteCol;
            border-radius: 5px;
            transition: all .5s ease-in-out;

        }

        &-lines::before {
            transform: translateY(-16px);
        }

        &-lines::after {
            transform: translateY(16px);
        }

        &-left {
            position: absolute;
            left: -290px;
            padding-top: 23px;
            display: flex;
            flex-direction: column;
            max-width: 290px;
            width: 100%;
            align-items: center;
            padding-bottom: 56px;
            background: $primaryBackground;
            height: 100vh;
            transition: 1.5s;

            &.active {
                left: 0;
            }
        }

        &-logo {
            display: block;
            margin-bottom: 53px;
        }


        &-list {
            display: flex;
            flex-direction: column;

        }

        &-link {
            font-family: 'PlayfairDisplay';
            color: $blackCol;
            font-size: 20px;
            line-height: 55px;
            text-transform: uppercase;
        }

        &-icons {
            display: flex;
            margin-top: 25px;
        }

        &-icon:nth-child(2) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &-icon {
            font-size: 25px;
            display: flex;

        }
    }

    &__languages {
        margin-top: 50px;

        &-link {
            text-transform: uppercase;
            font-size: 20px;
            line-height: 100%;
            color: $blackCol;
        }

        &-choosen {
            color: #B38934;
        }

        &-span {
            font-size: 20px;
            line-height: 100%;
        }
    }
}

html {
    scroll-behavior: smooth;
}



@media(max-width: 1830px) {
    .header__content {

        &-logo {
            max-width: 150px;
            width: 100%;
            margin-bottom: 10px;

        }

        &-link {
            font-size: 18px;
            line-height: 35px;
        }

        &-reserveBtn {
            max-width: 180px;
        }

    }
}


@media(max-width: 490px) {
    .header__content {
        &-left{
            max-width: 190px;
        }

        &-reserveBtn {
            display: none;
        }
    }
}