.main__slides {

    // height: 700px;
    display: flex;
    flex-direction: column;



    &-first {
        width: 100%;
        display: flex;
        position: relative;

        height: 700px;
    }

    &-firstLeft {
        width: 50%;
        display: flex;
        overflow: hidden;
        height: 100%;

    }

    &-imgLeftBox {
        position: relative;
        width: 100%;
    }

    &-imgLeft {
        max-width: 960px;
        width: 100%;
    }

    &-imgLeft1 {
        max-width: 960px;
        width: 100%;
    }

    &-imgLeft2 {
        max-width: 960px;
        width: 100%;
    }

    &-content {
        position: absolute;
        height: 100%;
        display: flex;
        top: 0;
        width: 100%;
        align-items: center;
        // justify-content: center;
    }

    &-prev,
    &-next {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 25px;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        height: 100%;
    }

    &-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    &-prev:hover,
    &-next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    &-prev1,
    &-next1 {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 25px;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        height: 100%;
    }

    &-next1 {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    &-prev1:hover,
    &-next1:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }




    &-prev2,
    &-next2 {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 25px;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        height: 100%;
    }

    &-next2 {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    &-prev2:hover,
    &-next2:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }


    &-points {
        // text-align: center;
        position: absolute;
        bottom: 20px;
        margin: 0 auto;
    }

    &-point {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    &-point:hover {
        background-color: #717171;
    }

    &-firstRight {
        width: 45%;
        overflow: scroll;
        transform: scaleX(-1);
        overflow-x: hidden;
        margin-left: 50px;
    }

    &-firstRight::-webkit-scrollbar {
        width: 10px;
        background: linear-gradient(90deg, white 25%, grey 50%, white 25%);
    }

    &-firstRight::-webkit-scrollbar-thumb {
        width: 10px;
        background: #C4C4C4;
    }

    &-scroll {
        transform: scaleX(-1);
        padding-left: 50px;
        padding-bottom: 100px;
        width: 100%;
    }

    &-firstTitle {
        font-family: $playfairDisplay;
        font-size: 48px;
        line-height: 50px;
        color: $blackCol;
        font-weight: 400;
        text-align: center;
        margin-top: 50px;
    }

    &-name {
        font-size: 20px;
        line-height: 24px;
        font-family: $playfairDisplay;
        font-weight: 400;
        color: $blackCol;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &-description {
        font-size: 18px;
        line-height: 24px;
        font-family: $playfairDisplay;
        color: $blackCol;
        text-transform: capitalize;
        max-width: 765px;
        width: 100%;

    }
}




@media (max-width: 1111px) {
    .main__slides {

        &-first {
            flex-direction: column;
            height: max-content;
        }

        &-firstLeft {
            width: 100%;
            height: 700px;
            // justify-content: center;
        }

        &-firstRight {
            margin-left: -5px;
            width: 100%;
        }

        &-content {
            width: 100%;
            height: 100vh;
        }

        &-imgLeft {
            max-width: 100%;
            background-position: center;

            & img {
                width: 100%;
                height: 100vh;
                background: no-repeat center center / cover;
            }
        }

        &-imgLeft1 {
            max-width: 100%;
            background-position: center;

            & img {
                width: 100%;
                height: 100vh;
                background: no-repeat center center / cover;
            }
        }

        &-imgLeft2 {
            max-width: 100%;
            background-position: center;

            & img {
                width: 100%;
                height: 100vh;
                background: no-repeat center center / cover;
            }
        }
    }
}