.header__content

    .header__content-hamburger 
        .header__content-lines  

    a.header__content-reserveBtn(href="reservations.html") RESERVATION 


    .header__content-left
        a.header__content-logo(href="#") 
            img.header__content-logo(src="./images/logo.webp", alt="") 

        ul.header__content-list

            li: a.header__content-link(href="index.html") menu
            li: a.header__content-link(href="#about") about
            li: a.header__content-link(href="reservations.html") reservations
            li: a.header__content-link(href="#news") news
            li: a.header__content-link(href="#events") events
            li: a.header__content-link(href="") careers
            li: a.header__content-link(href="") contacts

        .header__content-icons 
            a.header__content-icon(href="#")
                img(src="./images/faceBook-icon.svg", alt="") 
            a.header__content-icon(href="#")
                img(src="./images/insta-icon.svg", alt="") 
            a.header__content-icon(href="#")
                img(src="./images/tg.svg", alt="")  

        .header__languages 
            a.header__languages-link.header__languages-choosen(href="#") en
            span.header__languages-span /
            a.header__languages-link(href="#") ru 

            

            
                
                