.main__slides
    .main__slides-first 
        .main__slides-firstLeft

            .main__slides-imgLeftBox
                .main__slides-imgLeft 
                    img(src="./images/salad.webp", alt="")
                    
                .main__slides-imgLeft 
                    img(src="./images/krab-salad.webp", alt="")
                    
                .main__slides-imgLeft 
                    img(src="./images/tort.webp", alt="")
                    
                .main__slides-imgLeft 
                    img(src="./images/fish.webp", alt="")

                .main__slides-content
                    a.main__slides-prev(href="#") &#10094;
                    a.main__slides-next(href="#") &#10095;

            //- .main__slides-points 
            //-     span.main__slides-point
            //-     span.main__slides-point

        .main__slides-firstRight
            .main__slides-scroll
                h2.main__slides-firstTitle 1 st
                
                h3.main__slides-name CITRUS SALAD
                p.main__slides-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$

                
                h3.main__slides-name CHILLED WHITE ASPARAGUS

                p.main__slides-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$

                
                h3.main__slides-name FOIE GRAS TERRINE
                p.main__slides-description Rabbit, Carrots & Brioche .................................................................................................................. 25$

                
                h3.main__slides-name BUCATINI
                p.main__slides-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$

                
                h3.main__slides-name CHAWANMUSHI
                p.main__slides-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$

                
                h3.main__slides-name MATZAH BALL SOUP
                p.main__slides-description Poached Matzah Ball, Chicken Broth & Winter Vegetable ............................................................. 27$

                
                h3.main__slides-name TUNA
                p.main__slides-description Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette,
                p.main__slides-description Chives, Extra Virgin Olive Oil ............................................................................................................. 38$

                
                h3.main__slides-name CRAB
                p.main__slides-description Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé .................................................... 55$

                
                h3.main__slides-name SALMON
                p.main__slides-description Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” .............................................. 57$


    

    .main__slides-first 
        .main__slides-firstLeft

            .main__slides-imgLeftBox    
                .main__slides-imgLeft1 
                    img(src="./images/krab-salad.webp", alt="")

                .main__slides-imgLeft1 
                    img(src="./images/salad.webp", alt="")
                    
                .main__slides-imgLeft1
                    img(src="./images/fish.webp", alt="")
                
                    
                .main__slides-imgLeft1 
                    img(src="./images/tort.webp", alt="")

                .main__slides-content
                    a.main__slides-prev1(href="#") &#10094;
                    a.main__slides-next1(href="#") &#10095;

            //- .main__slides-points 
            //-     span.main__slides-point
            //-     span.main__slides-point

        .main__slides-firstRight
            .main__slides-scroll
                h2.main__slides-firstTitle 2 nd
                
                h3.main__slides-name POACHED COD
                p.main__slides-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$

                
                h3.main__slides-name BROWN BUTTER BASTED TURBOT
                p.main__slides-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$

                
                h3.main__slides-name SQUAB EN CROUTE
                p.main__slides-description Rabbit, Carrots & Brioche .................................................................................................................. 25$

                
                h3.main__slides-name CRESCENT FARM DUCK
                p.main__slides-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$

                
                h3.main__slides-name SNAKE RIVER WAGYU COULOTTE
                p.main__slides-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$

                
                h3.main__slides-name MATZAH BALL SOUP
                p.main__slides-description Poached Matzah Ball, Chicken Broth & Winter Vegetable ............................................................. 27$

                
                h3.main__slides-name TUNA
                p.main__slides-description Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette,
                p.main__slides-description Chives, Extra Virgin Olive Oil ............................................................................................................. 38$

                
                h3.main__slides-name CRAB
                p.main__slides-description Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé .................................................... 55$

                
                h3.main__slides-name SALMON
                p.main__slides-description Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” .............................................. 57$


    
    .main__slides-first 
        .main__slides-firstLeft

            .main__slides-imgLeftBox
                    
                .main__slides-imgLeft2 
                    img(src="./images/tort.webp", alt="")

                .main__slides-imgLeft2 
                    img(src="./images/salad.webp", alt="")
                    
                .main__slides-imgLeft2
                    img(src="./images/krab-salad.webp", alt="")
                    
                .main__slides-imgLeft2 
                    img(src="./images/fish.webp", alt="")

                .main__slides-content
                    a.main__slides-prev2(href="#") &#10094;
                    a.main__slides-next2(href="#") &#10095;

            //- .main__slides-points 
            //-     span.main__slides-point
            //-     span.main__slides-point

        .main__slides-firstRight
            .main__slides-scroll
                h2.main__slides-firstTitle 3 rd
                
                h3.main__slides-name OLIVE OIL CAKE
                p.main__slides-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$

                
                h3.main__slides-name APPLE TARTE TATIN
                p.main__slides-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$

                
                h3.main__slides-name FSWEET POTATO CRÈME CARAMEL
                p.main__slides-description Rabbit, Carrots & Brioche .................................................................................................................. 25$

                
                h3.main__slides-name BROOKLYN BLACKOUT
                p.main__slides-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$

                
                h3.main__slides-name WARM DATE CAKE
                p.main__slides-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$

                
                h3.main__slides-name MATZAH BALL SOUP
                p.main__slides-description Poached Matzah Ball, Chicken Broth & Winter Vegetable ............................................................. 27$

                
                h3.main__slides-name TUNA
                p.main__slides-description Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette,
                p.main__slides-description Chives, Extra Virgin Olive Oil ............................................................................................................. 38$

                
                h3.main__slides-name CRAB
                p.main__slides-description Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé .................................................... 55$

                
                h3.main__slides-name SALMON
                p.main__slides-description Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” .............................................. 57$



