 
.reserveMain__content 
    .reserveMain__content-parent 
        img.reserveMain__content-img(src="./images/reserve1.webp", alt="")

        .reserveMain__content-child 
            h3.reserveMain__content-title kitchen 
            a.reserveMain__content-moreBtn(href="kitchen.html") more

    .reserveMain__content-parent 
        img.reserveMain__content-img(src="./images/reserve2.webp", alt="")

        .reserveMain__content-child 
            h3.reserveMain__content-title kitchen 
            a.reserveMain__content-moreBtn(href="kitchen.html") more

    .reserveMain__content-parent 
        img.reserveMain__content-img(src="./images/reserve3.webp", alt="")

        .reserveMain__content-child 
            h3.reserveMain__content-title kitchen 
            a.reserveMain__content-moreBtn(href="kitchen.html") more

    .reserveMain__content-parent 
        img.reserveMain__content-img(src="./images/reserve4.webp", alt="")

        .reserveMain__content-child 
            h3.reserveMain__content-title kitchen 
            a.reserveMain__content-moreBtn(href="kitchen.html") more


                

            
                
                